.header__top
	.container
		.header__content
			nav.header__nav.header-nav
				ul.header-nav__list
					+headerNavLink('','О компаннии')
					+headerNavLink('','Доставка и оплата')
					+headerNavLink('','Акциии')
					+headerNavLink('','Оптовикам')
					+headerNavLink('','Новости')
					+headerNavLink('','Гарантии')
					+headerNavLink('','Контакты')
			nav.header__nav.header__nav--right.header-nav
				ul.header-nav__list
					+headerNavLink('','Регистрация')
					+headerNavLink('','Вход')