.header
	&__nav
		&.header__nav--right
			margin-left auto
	&__top
		padding 10px 0
		background athens-Gray
	&__content
		display flex
		align-items center
	&__main
		padding 25px 0
	&__phone
		display block
		font-size 16px
		font-weight 600
		color tundora
		white-space nowrap
	&__phones
		display flex
		& > *
			margin-right 30px
			&:last-child
				margin-right 0
	&__addres
		display flex
	&__shop 
		display flex
		&>*
			margin-right 10px
			&:last-child
				margin-right 0
	&-addres
		.fa
			color silver-chalice
	&-goods
		&__price
			display block
			font-size 16px
			font-weight 600
			color tundora
			white-space nowrap
		&__count
			display block
			line-height 1.67
			font-size 12px
			color silver-chalice
	.header-basket
		background red
		margin-left 1000px
		&>*
			margin-right 15px
			&:last-child
				margin-right 0
