head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  meta(name='imagetoolbar' content='no')
  meta(name='msthemecompatible' content='no')
  meta(name='cleartype' content='on')
  meta(name='HandheldFriendly' content='True')
  meta(name='google' value='notranslate')



  link(rel='shortcut icon' type='image/png' href='favicon.png')

  meta(name='description' content='')
  meta(name='keywords' content='')

  block head
  title= pageTitle || 'Html tamplate'

  link(href='assets/styles/main.css?t=' + timestamp rel='stylesheet')
