@import 'variables'
@import 'mixins'

img
  max-width 100%

p
  margin 0 0 20px
  &:last-child
    margin-bottom 0

.clearfix:after
    content ""
    display block
    clear both

.content
  overflow hidden
  flex 1

.text
  &-upper
    text-transform uppercase

  &-underline
    text-decoration underline

  &-center
    text-align center

  &-sup
    vertical-align super
    font-size 14px
    margin-right 5px

  &-left
    text-align left

  &-right
    text-align right

ul
  padding 0
  list-style none

.color
  &-red
    color #FF4C4C

  &-grey
    color grey

.flex
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex

  &-wrap
    flex-wrap wrap
    -webkit-flex-wrap wrap
    display -webkit-flex

  &-column
    flex-direction column
  &-grow
    flex-grow 1

.align
  &-items
      &-center
          align-items center

      &-end
          align-items flex-end

      &-start
          align-items flex-start

  &-self-start
      -ms-flex-item-align start
      align-self flex-start

.justify-content
  &-self-center
      justify-self center

  &-between
      justify-content space-between
      -webkit-box-pack justify
      -moz-box-pack justify
      -ms-flex-pack justify
      -webkit-justify-content space-between

  &-end
      justify-content flex-end
      -webkit-box-pack end
      -moz-box-pack end
      -ms-flex-pack end
      -webkit-justify-content flex-end

  &-center
      justify-content center
      -webkit-box-pack center
      -moz-box-pack center
      -ms-flex-pack center
      -webkit-justify-content center

.icon
  transition all 0.3s

.container
  max-width width-reg
  width 100%
  padding 0 15px
  margin 0 auto
  position relative

.section,section
  position relative



.w
  &-100
    width 100%
  &-50
    width 50%
  &-40
    width 40%
  &-45
    width 45%
  &-55
    width 55%
  &-60
    width 60%

