// Cut long text with ellipsis, works only for one line of text
@mixin text-ellipsis
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

@mixin reset-input
  border 0
  padding 0
  margin 0
  outline none
  background none
  border none

// Apply this to the parent container that has an inline-block childrens.
justify()
  font-size 1px
  line-height 0

  zoom 1

  text-align justify
  text-align-last justify
  text-justify newspaper

  &:after
    display inline-block
    visibility hidden

    overflow hidden

    width 100%
    height 0

    content ''


// Apply this to the inline-block elements placed inside container with justify.
// Set font size because it was dropped in justify
justify-child(font-size = 16px)
  display inline-block
  vertical-align top

  font-size font-size
  line-height normal

// Deny text selection
noselection()
  user-select none
  -webkit-touch-callout none

  &:hover
    cursor default


// Placeholders color
placeholder-color(color)
  &:-moz-placeholder,
  &::-moz-placeholder
    color color
    opacity 1

  &::-webkit-input-placeholder
    color color


webfont(family, file)
  @font-face
    font-family family
    src url('../fonts/'+ file + '.eot')
    src url('../fonts/'+ file + '.eot?#iefix') format('embedded-opentype'),
        url('../fonts/'+ file + '.woff') format('woff'),
        url('../fonts/'+ file + '.ttf') format('truetype'),
        url('../fonts/'+ file + '.svg#'+ family) format('svg')
    font-weight normal
    font-style normal
    @media screen and (-webkit-min-device-pixel-ratio:0)
      @font-face
        font-family family
        src url('../fonts/'+ file + '.svg#'+ family) format('svg')

