@import 'variables'
@import 'mixins'

html
  box-sizing border-box
  line-height 1.3
  font-size base-font-size

*,
*before,
*after
  box-sizing inherit

disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

.clearfix:after
    content ""
    display block
    clear both

a
  -webkit-text-decoration-skip ink
  text-decoration-skip ink

.visuallyhidden:not(:focus):not(:active)
  position absolute
  width 1px
  height 1px
  margin -1px
  border 0
  padding 0
  clip-path inset(100%)
  clip rect(0 0 0 0)
  overflow hidden

.svg-sprite
  display none

body
  display flex
  min-height 100vh
  flex-direction column
  height auto !important
  height 100%
  font-family font-family-reg
  font-weight 400
  overflow-x: hidden;
  &.fixed
    overflow-y hidden!important
    width 100%

.main-content
	flex-grow 1
	flex-shrink 0

.footer
	flex-shrink 0

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
  margin 0 0 15px
  font-weight 400
  letter-spacing 0px
  word-spacing 0px
  line-height normal
  &:last-child
    margin-bottom 0

.lh-0
  line-height 0

a
  text-decoration none
  transition all 0.3s
  &:hover
    text-decoration none
ul,li 
  list-style none
  padding 0
  margin 0